 @font-face {
      font-family: "Vazir";
      src: url("../fonts/Vazir.eot");
      src: url("../fonts/Vazir.eot?#iefix") format('embedded-opentype'),
           url("../fonts/Vazir.woff2") format("woff2"),
           url("../fonts/Vazir.woff") format("woff"),
           url("../fonts/Vazir.ttf") format("truetype");
    }

    body {
      font-family: "Vazir" !important;
          background: url(image/london9.png);

      background-size: cover;
      background-attachment: fixed;
    }
.dark .dark-bg-body-dark{ 
      background-image: linear-gradient(to right, rgba(17, 17, 17, 0.9) , rgba(98, 98, 95, 0.301)), url(image/london6.png);
 
      background-size: cover;
      background-attachment: fixed;
}

.lh-0{
    line-height: 0;
}
.darkmode-switch{
    width: 2.5em !important;
    height: 1.5rem !important;
}

.dark .dark-text-white{
    color: white !important;
}


/* header */
.header{
    padding-top: 90px;
}

.header .countdown div{
    text-align: center;
    border: 2px solid rgb(247, 152, 20);
    border-radius: 8px;
    margin: 10px 10px;
    width: 100px;
    padding: 15px 0;
}

.header .social-links a{
    font-size: 20px;
    color: #fff;
    margin:  0 3px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    transition: all 0.3;
}

.header .social-links a:hover{
    background-color: rgb(247, 152, 20);
    border-color:rgb(247, 152, 20) ;
}
@media (max-width :575px){
 .header .countdown div{
    margin: 10px 8px;
    width: 70px;
    padding: 10px 0;
}   
}


.text{
 color: rgb(7, 11, 63) !important;
}


/* Contact Us */
.contact hr{
    width: 80px;
    height: 5px;
}

.contact .card{
    border-top: 4px solid rgb(247, 152, 20);
    border-bottom: 4px solid rgb(247, 152, 20);
    padding: 30px;
    border-radius: 0.25rem;
    background-color: rgba(0, 0, 0, 0.422);
    width: 100%;
    box-shadow: 0 0 24px 0 rgb(0 0 0/ 12%);
}
.contact .card i{
    font-size: 20px;
    color: #fff;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s;
}

.contact .card i:hover{
    background-color:rgb(247, 152, 20);
    border-color: rgb(247, 152, 20);
    color: #fff;
}


  /* ityped.js */
.ityped-cursor {
    font-size: 2.2rem;
    opacity: 1;
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
    animation-direction: alternate;
}
 
@keyframes blink {
    100% {
        opacity: 0;
    }
}
 
@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}
 
@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}
